.box{
    padding: 20px;
    width: 600px;
    border: 2px solid #000000;
    height: 600px ;
    border-radius: 20%;
    position: relative;
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:#BF1736;
}
.relogio{
    width: 350px;
    height: 350px;
    border: 4px solid #0E2773;
    border-radius: 50%;
    align-items: center !important;
    flex-direction: column;
    display: flex;
    text-align: center;
    position: relative;
    top: 0%;
}

.relogio2{
    text-align: center;
    position: absolute;
    bottom: -9px;
    font-size: 100px;
}
.base{
    padding-top: 60px;
    border: transparent;
}
.titulo{
    padding-bottom: 0px;
    font-size: 40px;
    font-family: 'Catamaran', sans-serif !important;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;    
}
.titulo:hover{
    transform: translateY(-8px);

}
body{
    background-color: #0D1440;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 45px;
    height: 45px;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-top: 0px;

}
button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 5px #999;
    font-size: 15px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    background-image: linear-gradient(to left,#D31FEB,white,#3C6ADE );
    border: transparent;
}
button:active{
    transform: translateY(-8px);
    box-shadow: 0 10px #999;

}